#foot{
    background-color: #212529;
    font-size: medium;
}
.about-company{
    color: white;
    text-align: center;
}
.textClass{
    color: white;
}
.location{
    color: white;
    text-align: right;
}
.ulClass{
    color: white;
    list-style-type: none;
}
.liClass{
    color: white;
    text-decoration: none;
}

.liClass:hover{
    color: rgb(128, 118, 118);
    text-decoration: none;
}